{% extends 'base.html'%} {% block title %}
<title> Register page </title>{% endblock%} {% block style %}
<link rel="stylesheet" href="{{url_for('static' ,filename = 'register.css')}}">{% endblock %} {% block content%}
<div class="contain">
    <form action="" method="POST">
        {{ form.hidden_tag()}}
        <fieldset>
            <legend>Register</legend>
            <div class="user-div">
                {{form.username.label(class = "field-label")}} {% if form.username.errors %} {{form.username(class = "field error")}}
                <div class="errors">
                    {% for error in form.username.errors %}
                    <span>{{error}}</span> {% endfor %}
                </div>
                {% else %} {{form.username(class = "field")}} {% endif %}
            </div>
            <div class="user-div">
                {{form.email.label(class = "field-label ")}} {% if form.email.errors%} {{form.email(class = "field error ")}}
                <div class="errors">
                    {% for error in form.email.errors %}
                    <span>{{error}}</span> {% endfor %}
                </div>
                {% else %} {{form.email(class = "field")}} {% endif %}
            </div>

            <div class="user-div ">
                {{form.password.label(class = "field-label ")}} {% if form.password.errors%} {{form.password(class = "field error ")}}
                <div class="errors">
                    {% for error in form.password.errors %}
                    <span>{{error}}</span> {% endfor %}
                </div>
                {% else %} {{form.password(class = "field")}} {% endif %}

            </div>
            <div class="user-div ">
                {{form.confirm_password.label(class = "field-label ")}} {% if form.confirm_password.errors%} {{form.confirm_password(class = "field error ")}}
                <div class="errors">
                    {% for error in form.confirm_password.errors %}
                    <span>{{error}}</span> {% endfor %}
                </div>
                {% else %} {{form.confirm_password(class = "field")}} {% endif %}
            </div>
            <div class="submit">
                {{form.submit( class = "button")}}
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}